<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Catalog</title>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<div id="app">
		<nav>
			<div class="nav_lvl_one">
				<div class="nav_lvl_one_categories">
					<button @click="category = null" :class="{active:category == null}">ALL</button>
					<button v-for="(n) in categoryButtons" @click="category = n" :class="{active: n == category, categoryBut: true}">{{n}}</button>
				</div>
				<button @click="changeShowCart"></button>
			</div>
			<hr>
			<div class="nav_lvl_two">
				<span>Count:</span>			
				<input type="range" min="9" max="27" step="9" v-model="countItems">
				<span>Price:</span>
				<button @click="sumSort = 1">
					<img src="https://img.icons8.com/material/20/000000/long-arrow-up--v2.png">
				</button>
				<button @click="sumSort = -1">
					<img src="https://img.icons8.com/material/20/000000/long-arrow-down--v1.png">
				</button>	
			</div>
		</nav>
		<div class="main-container_wrapper">
			<div class="main-container">
				<div v-for="(n, index) in itemsOnPage" :key="index" class="items">
					<h2> {{n.name}} </h2>
					<p> {{n.description}} </p>
					<img :src="n.image" alt="">
					<span> <b>{{n.price}}$</b> </span>
					<br><br><br>
					<button @click="addToCart(n)" class="items_add"></button>
				</div>
			</div>
		</div>
		<div class="cart" v-if="showCart">
			<span class="cart_sum"><b>{{ cartSum }}$</b></span>
			<div class="cart_items_wrapper">
				<div v-for="(n, index) in cartItems" :key="index" class="cart_items">
					<h2> {{n.name}} </h2>
					<p> {{n.description}} </p>
					<img :src="n.image" alt="">
					<span> <b>{{n.price}}$</b> </span>
					<div class="cart_items_count">
						<button @click="removeCartItem(n)" class="cart_items_count_buttons">-</button>
						<span>Count: <b>{{ n.count }}</b></span>
						<button @click="addCartItem(n)" class="cart_items_count_buttons">+</button>
					</div>
					<button @click="deleteCartItem(n)" class="cart_items_delete">Delete</button>		
				</div>
			</div>
		</div>
		<footer>
			<div class="pages">
				<button v-for="n in pagesCount" @click="page = n" :class="{active: n == page}"> {{n}} </button>
			</div>			
		</footer>
	</div>

	<script src="script.js"></script>
</body>
</html>