<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Social</title>
	<link rel="stylesheet" href="style.css">
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
	<template id="my-page">
		<section>
			<p>My Page</p>
		</section>		
	</template>

	<template id="news">
		<section>
			<div class="publications" v-for="(n, index) in publications" :key="index">
				<div class="publications_author">
					<img :src="n.author.image" alt="">
					<a :href="n.author.url">{{n.author.name}}</a>
				</div>
				<div class="publications_content">
					<span>{{n.text}}</span>
					<span v-if="n.type == 'image'"><img :src="n.src"></span>
					<span v-if="n.type == 'video'"><video :src="n.src" width="100%" controls></span>
				</div>
				<button @click="openComments(index)" class="comments-button">{{n.comments.length}}</button>
				<div class="publications_comments" ref="com">
					<div v-for="(com, index) in n.comments" :key="index" class="comment">
						<div class="publications_author">
							<img :src="com.author.image" alt="">
							<a :href="n.author.url">{{n.author.name}}</a>
						</div>
						<p>{{com.text}}</p>
					</div>	
				</div>
			</div>
		</section>		
	</template>

	<template id="dialogs">
		<section>
			<dilogs-list 
				v-if="showDialog == null"
				:messages="messages"
				:show-dialog="showDialog"
				@show="show"
			></dilogs-list>
			<dial 
				v-if="showDialog != null"
				:messages="messages"
				:show-dialog="showDialog"
				@close="close"
			></dial>
		</section>		
	</template>

	<template id="dilogs-list">
		<div ref="list">
			<div class="dialogs-all" v-for="(n, index) in messages" :key="index" @click="show(index)">
				<span class="message-author">{{n.dialog[n.dialog.length-1].author}}</span>
				<div class="message-text">
					<span>{{n.dialog[n.dialog.length-1].text}}</span>
					<span class="message-date">{{n.dialog[n.dialog.length-1].date}}</span>
				</div>
			</div>
		</div>
	</template>

	<template id="dial">
		<section>
			<div v-for="(n, index) in messages" :key="index" class="dial">
				<span  v-if="showDialog == index">
					<button @click="close" class="return"></button>	
					<div class="dial-wrapper">
						<div v-for="(m, index) in n.dialog" :key="index" class="message">
							<span class="message-author">{{m.author}}</span>
							<div class="message-text">
								<span>{{m.text}}</span>
								<span class="message-date">{{m.date}}</span>
							</div>
						</div>						
					</div>
				</span>				
			</div>
		</section>
	</template>

	<template id="wrapper-app">
		<div>
			<nav>
				<div class="nav-buttons-wrapper">
					<span @click="showContent = 'my-page'">Моя страница</span>
					<span @click="showContent = 'news'">Новости</span>
					<span @click="showContent = 'dialogs'">Сообщения</span>
				</div>
			</nav>

			<my-page 
				v-if="showContent == 'my-page'"
			></my-page>

			<news 
				v-if="showContent == 'news'"
			></news>

			<dialogs 
				v-if="showContent == 'dialogs'"
			>
			</dialogs>	
		</div>
	</template>


	<div id="app">
		<wrapper-app></wrapper-app>
	</div>

	<script src="script.js"></script>
</body>
</html>