body{
	background: #222d3b;
}
h1{
	text-align: center;
	color:#8EE6DA;
	margin-top: 100px;
	font-size: 50px;
	font-family: sans-serif;
}
div{
	margin:350px auto;
	width:1000px;
}
button{
	width: 90px;
	height: 35px;
	border: 0px;
	font-weight: 700;
    font-size: 11px;
    color: white;
    text-align: left;
}
span
{    
    margin-left: 30px;
}
#b1{
	background-color:#cee28b;
	background-image: url("icons/pick.gif");
	background-repeat: no-repeat;
	background-position:left center; 
}
#b1:hover{
	background-color:#949b54;
}
#b1:active{
	background-color:#cee28b;
}

#b2{
	background-color:#f3922e; 
	background-image: url("icons/home.gif");
	background-repeat: no-repeat;
	background-position:left center; 
}
#b2:hover{
	background-color:#a16814;
}
#b2:active{
	background-color:#f3922e;
}

#b3{
	background-color:#696c6e;
	background-image: url("icons/music.gif");
	background-repeat: no-repeat;
	background-position:left center;  
}
#b3:hover{
	background-color:#4a4d4f;
}
#b3:active{
	background-color:#696c6e;
}

#b4{
	background-color:#f47a25;
	background-image: url("icons/folder.gif");
	background-repeat: no-repeat;
	background-position:left center;  
}
#b4:hover{
	background-color:#d0541a;
}
#b4:active{
	background-color:#f47a25;
}


#b5{
	background-color:#a9baa3; 
	background-image: url("icons/lock.gif");
	background-repeat: no-repeat;
	background-position:left center; 
}
#b5:hover{
	background-color:#6c786a;
}
#b5:active{
	background-color:#a9baa3;
}


#b6{
	background-color:#837499;
	background-image: url("icons/part.gif");
	background-repeat: no-repeat;
	background-position:left center;  
}
#b6:hover{
	background-color:#565361;
}
#b6:active{
	background-color:#837499;
}


#b7{
	background-color:#008262; 
	background-image: url("icons/settings.gif");
	background-repeat: no-repeat;
	background-position:left center; 
}
#b7:hover{
	background-color:#004d43;
}
#b7:active{
	background-color:#008262;
}


#b8{
	background-color:#8ca884; 
	background-image: url("icons/user.gif");
	background-repeat: no-repeat;
	background-position:left center; 
}
#b8:hover{
	background-color:#5d7151;
}
#b8:active{
	background-color:#8ca884;
}


#b9{
	background-color:#c95e00; 
	background-image: url("icons/bss.gif");
	background-repeat: no-repeat;
	background-position:left center; 
}
#b9:hover{
	background-color:#8f3900;
}
#b9:active{
	background-color:#c95e00;
}


#b10{
	background-color:#a600ca; 
	background-image: url("icons/power.gif");
	background-repeat: no-repeat;
	background-position:left center; 
}
#b10:hover{
	background-color:#720097;
}
#b10:active{
	background-color:#a600ca;
}

